<footer class="page-footer font-small pt-4 bg-dark text-white">

  <div class="container-fluid nav-item">
  
    <div class="row">
      <li class="col-md-3 nav-link text-center">
        <i class="fa-instagram text-center" aria-hidden="true"></i>

        <%=link_to "Instagram", "https://www.instagram.com/d66photos" %>
      </li>
      <li class="col-md-3 nav-link text-center">
        <i class="fa-twitter text-center" aria-hidden="true"></i>

        <%=link_to "Twitter", "https://www.twitter.com/d66photos" %>
      </li>
     <li class="col-md-3 nav-link text-center">
     <i class="fa-facebook" aria-hidden="true"></i>

        <%=link_to "Facebook", "https://www.facebook.com/d66photos" %>
      </li>
      <li class="col-md-3 nav-link text-center">
      <i class="fa-envelope" aria-hidden="true"></i>

        <%=link_to "Email", "mailto:daz@d66photos.co.uk" %>
      </li>
     </ul>

  </div>
    <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="footer-copyright text-center nav-link">© 2020 Copyright:
    <%= link_to "Darren Woods Photography", "https://d66photos.co.uk"%>
      </div>
    <ul>
    </div>
    </div>
  </div>
</footer>
