<!DOCTYPE html>
<html>
  <head>
    <title>Darren Woods Photography</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
   <%= render 'layouts/header' %>
   <%= render 'layouts/navigation' %>
  <%= yield %>

  <body>
  </body>
  <%= render 'layouts/footer' %>
</html>